@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Ubuntu Mono', monospace;
}

.tippy-box[data-theme~='info'] {
  background-color: #0d0d0ddd;
  text-align: center;
}

.tippy-box[data-theme~='info'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #0d0d0ddd;
}
.tippy-box[data-theme~='info'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: #0d0d0ddd;
}
.tippy-box[data-theme~='info'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #0d0d0ddd;
}
.tippy-box[data-theme~='info'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #0d0d0ddd;
}
